<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
   	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script> 
	


	function viewCourse() {
		$('#div1').html("");
		$.ajax({
				url: "courses",
				type: "get",
				data: {
					courseNumber: $("#ts1").val()
				},
				success: function(data) {
					//$('#div1').(JSON.parse(data));
          console.log(data);
					data = JSON.parse(data);
					data.forEach(function( val, i, arr) {
						console.log(val);
						$('#div1').append("<p>" + val.courseNumber + ": " + val.name + "</p>");
					});
				}
		});
		return false;

	};

	function createCourse(event) {
		console.log("create course");
		$.ajax({
				url: "courses",
				type: "put",
				data: {
					courseNumber: $("#courseNumber").val(),
					name: $("#name").val(),
					instructor: $("#instructor").val()
				},
				success: function(data) {
					if (data == "true") { $('#div2').html("Successfully created course"); }
					else { $('#div2').html("Could not create course")};
				}
		});
		return false;	
	};




	function editCourse(event) {
		console.log("edit course");
		$.ajax({
				url: "courses",
				type: "post",
				data: {
					courseNumber: $("#courseNumberEdit").val(),
					name: $("#nameEdit").val(),
					instructor: $("#instructorEdit").val()
				},
				success: function(data) {
					if (data == "true") { $('#div2').html("Successfully edited course"); }
					else { $('#div2').html("Could not edit course")};
				}
		});
		return false;	
	};



	function deleteCourse(event) {
		console.log("delete course");
		$.ajax({
				url: "courses",
				type: "delete",
				data: {
					courseNumber: $("#courseNumberDelete").val(),
				},
				success: function(data) {
					if (data == "true") { $('#div2').html("Successfully deleted course"); }
					else { $('#div2').html("Could not delete course")};
				}
		});
		return false;	
	};


	$(function() {
		$("#f1").click(viewCourse);
		$("#f2").submit( function(event) {
			event.preventDefault();
			createCourse();
		});

		$("#f3").submit( function(event) {
			event.preventDefault();
			editCourse();
		});

		$("#f4").submit( function(event) {
			event.preventDefault();
			deleteCourse();
		});

	} );


    </script>
  </head>

  <body>
	
	<input id="f1" type="button" value="View Courses">
	<div id="div1"> </div>

	<form id="f2">
		<input type="text" id="courseNumber1" placeholder="Course Number">
		<input type="text" id="name1" placeholder="Course Name">
		<input type="text" id="instructor1" placeholder="Instructor Name">
		<input type="submit" value="Create New">
	</form>

	<form id="f3">
<<<<<<< HEAD
		<input type="text" id="courseNumber2" placeholder="Course Number">
		<input type="text" id="name2" placeholder="Course Name">
		<input type="text" id="instructor2" placeholder="Instructor Name">
=======
		<input type="text" id="courseNumberEdit" placeholder="Course Number">
		<input type="text" id="nameEdit" placeholder="Course Name">
		<input type="text" id="instructorEdit" placeholder="Instructor Name">
>>>>>>> 77544dded0126a2c5e045ab20ad2f847ef3ffa3a
		<input type="submit" value="Edit Course">
	</form>

	<div id="div2"></div>

	<form id="f4">
<<<<<<< HEAD
		<input type="text" id="courseNumber3" placeholder="Course Number">
=======
		<input type="text" id="courseNumberDelete" placeholder="Course Number">
>>>>>>> 77544dded0126a2c5e045ab20ad2f847ef3ffa3a
		<input type="submit" value="Delete Course">
	</form>

  </body>
</html>
