<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
   	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/coursesapp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
	
	<input id="f1" type="button" value="View Courses">
	<div id="div1"> </div>
      <br /><hr /><br />

	<form id="f2">
		<input type="text" id="courseNumber" placeholder="Course Number">
		<input type="text" id="name" placeholder="Course Name">
		<input type="text" id="instructor" placeholder="Instructor Name">
		<input type="submit" value="Create New">
	</form>
      <br /><hr />
      
    <p>Enter an existing course ID to edit, as well as the new course name and new instructor.</p>  
	<form id="f3">
		<input type="text" id="courseNumberEdit" placeholder="Course Number">
		<input type="text" id="nameEdit" placeholder="New Name">
		<input type="text" id="instructorEdit" placeholder="New Instructor">
		<input type="submit" value="Edit Course">
	</form>
      <br /><hr /><br />

	<form id="f4">
		<input type="text" id="courseNumberDelete" placeholder="Course Number">
		<input type="submit" value="Delete Course">
	</form>
      <br /><hr /><br />

      	<div id="div2"><em>(Status of last operation will appear here after you do something.)</em></div>

      
  </body>
</html>
