<!DOCTYPE html>
<html>
  <head>
    <title>Course List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Course list:<br /> <%= courseList %></p>
  </body>
</html>